# Default taken from https://github.com/github/gitignore/blob/master/Python.gitignore
*.log
Backup/
temp/
gemm_doxygen_config.txt
.DS_Store
.idea
Databases/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
bin/
obj/

# Visual Studio (machine-specific files, should be committed once but never updated)
.vscode/
.vs/
*.pyperf
*.pyproj*
*.suo
*.sln

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Django stuff:
*.log
local_settings.py
local_settings*
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
/.mypy_cache/3.7
